extends ../layout/index

block contenido
  div.py-5
    h1.text-4xl.mb-5.font-extrabold.text-center Bienes
      span.font-normal Raíces
    h2.font-bold.text-xl.text-center= pagina

    div.mt-8.mx-auto.max-w-lg
      div.bg-gray-200.py-8.px-4.shadow.rounded-md
        form.space-y-5
          div
            label.block.text-sm.text-gray-700.mb-2.font-bold(for="nombre") Nombre
            input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md(type="text" name="nombre")
          div
            label.block.text-sm.text-gray-700.mb-2.font-bold(for="email") Correo electrónico
            input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md(type="email" name="email")
          div
            label.block.text-sm.text-gray-700.mb-2.font-bold(for="password") Contraseña
            input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md(type="password" name="password")
          div
            label.block.text-sm.text-gray-700.mb-2.font-bold(for="repetir_password") Repetir contraseña
            input#repetir_password.w-full.px-3.py-2.border.border-gray-300.rounded-md(type="password" name="repetir_password")
          div.flex.items-center.justify-between
            a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes cuenta? Inicia sesión
            a.text-gray-500.text-xs(href="/auth/olvide-password") Olvidé mi contraseña
          input(class="w-full bg-indigo-600 font-bold rounded-md py-2 transition-colors text-white transitio hover:bg-indigo-700 cursor-pointer" type="submit" value="Crear usuario")

