extends ./layout/app

block styles
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contenido
      div(class="py-5")
          h1(class="text-3xl text-center font-extrabold mb-10") Ubicación en el mapa

          div(id="mapa-inicio" class="h-[400px]")



block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="/js/mapaInicio.js")
