extends ../layout/index

block contenido
  div.py-5
    h1.text-4xl.mb-5.font-extrabold.text-center Bienes
      span.font-normal Raíces
    h2.font-bold.text-xl.text-center= pagina

    a(href="/propiedades/crear" class="rounded p-2 bg-indigo-500 hover:bg-indigo-600 text-white font-bold text-center my-5 inline-block w-full sm:w-auto") Publicar propiedad