extends ../layout/admin

block styles
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")

block contenido
  div.py-5
    h1.text-4xl.mb-5.font-extrabold.text-center Bienes
      span.font-normal Raíces
    h2.font-bold.text-xl.text-center= pagina

    div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10")
      form(id="imagen" class="dropzone border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center" method="POST" action=`/propiedades/agregar-imagen/${propiedad.id}`)

      button(id="publicar" class="bg-indigo-600 hover:bg-indigo-700 transition-all w-full p-2 mt-5 text-white font-bold rounded cursor-pointer" type="button") Publicar propiedad

block scripts
  script(src="/js/agregarImagen.js")
